html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* GENERAL STYLES  */

html {
    font-size: 125%;
}

.wrapper {
    max-width: 1080px;
    width: 80%;
    margin: 0 auto;
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2 { 
    font-family: 'Montserrat', sans-serif;
    color: #E75605;
    margin: 0;
}

p {
    font-family: 'Catamaran', sans-serif;
    font-size: 1rem;
    line-height: 29px;
    color: #1F2022;
    margin: 0;
}

img {
    width: 100%;
    display: block;
}

/* HEADER STYLES */

header {
    height: 90vh;
    background: url(./assets/header-burger.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

.header-flex .wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}


h1 {
    font-size: 7.32rem;
    line-height: 120px;
    font-weight: 400;
    margin-right: -15px;
    flex-basis: 45%;
    /* width: 40%; */
    /* flex: 0 1 45%; */
}

.social-icons-container {
    position: relative;
    left: 70px;   
    bottom: 32px;
}

.social-icons-container li {
    margin: 5px;
}

.social-icons-container li a {
    color: #E75605;
}

.social-icons-container a:hover,
.social-icons-container a:focus {
    opacity: 0.5;
}

/* NAVIGATION STYLES */

nav {
    height: 10vh;
}

nav ul {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

nav li {
    margin: 0 20px;
}

nav a {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 29px;
    color: #1F2022;
    text-decoration: none;
}

nav a:hover,
nav a:focus {
    color:#E75605;
}

/* SECTION STYLES  */

h2 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.4rem;
}

.menu,
.menu2 {
    display: flex;
}

.text-container,
.food-image {
    flex-basis: 50%;
}

.text-container {
    padding-left: 60px;
    padding-right: 60px;
}

.text-container h2 {
    padding-top: 80px;
    padding-bottom: 10px;
}

.text-container p {
    padding-bottom: 20px;
}

.read-more-button {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 29px;
    text-transform: uppercase;
    text-decoration: none;
    color: #1F2022;
    display: inline-block;
    padding: 8px 20px;
    border: 2px solid #E75605 
}

.read-more-button:hover,
.read-more-button:focus {
    border: 2px solid rgb(255, 255, 255);
}  


/* DESSERT STYLES SECTION  */

.dessert-container {
    background-color: rgb(235, 233, 233)
}

.dessert-container .wrapper {
    display: flex;
    padding: 70px 10px;
    
}

.dessert-image {
    flex: 1 0 32%;
}

.text-container2 {
    padding-left: 30px;
}

.text-container2 p {
    padding-top: 25px;
    padding-bottom: 35px;
}

/* ICON SECTION STYLES SECOND */

.contact-icons {
    padding: 130px 0;
    background-color: #E75605;
}

.contact-icons .wrapper {
    display: flex;
    justify-content: center;
}

.icon-container1,
.icon-container2,
.icon-container3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
}

.fa-solid {
    color: #ffff;
}

.contact-icons span {
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: #ffff;
    padding-top: 12px;
}


/* THE GRAM SECTION STYLES  */

.gram .wrapper {
    padding: 80px 15px;
}

.gram h2 {
    text-align: center;
    margin-bottom: 50px;
}

.gram ul {
    display: flex;
    justify-content: space-around;
}

.gram li {
    /* flex-basis: 32%; */
    width: calc(100% / 3 - 30px);
}

/* FOOTER STYLES  */

footer {
    background-color: rgb(235, 233, 233);
    padding-top: 40px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    margin-top: 10px;
}

.footer-container h2 {
    text-align: center;
    margin: 20px 0;
}

.contact-container { 
    flex-basis: 33%;
}

.stay-container {
    margin-right: 40px;
}

.stay-container p {
    padding-bottom: 10px;
}

form input {
    padding: 9px 0 9px 15px;
    font-family: 'Montserrat', sans-serif; 
    color: #000;
    border: none;
}

form button {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 29px;
    text-transform: uppercase;
    text-decoration: none;
    color: #1F2022;
    padding: 5px 20px;
    border: 2px solid #E75605;
    background: #ffff; 
}

form button:hover,
form button:focus {
    border: 2px solid #ffff;
}

.copyright {
    background-color: #1F2022;
    
}

.copyright p {
padding: 10px 0;
text-align: center;
color:rgb(168, 167, 167);
font-size: 0.7rem;
}

/* ***** RESPONSIVE DESIGN ******** */


@media (max-width: 767px){
    .fa-bars {
        display: none;
    }
}
 

@media (max-width: 480px) { 
    
    /* general styles for mobile  */

    img {
        max-width: 100%;
        height: auto;
        }

    h2 {
        font-size: 1.3rem;
    }

    p { 
        font-size: 0.9rem;
    }

    .fa-bars {
        color: #000;
        position: absolute;
        top: -45px;
        right: 10px;
    }

    .read-more-button {
        font-size: 0.8rem;
        padding: 6px 10px;
    }


    /* header responsive section */


    .hamburger-menu,
    .social-icons-container {
        display: none;
    }

    .header-flex .wrapper {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        margin-top: 70px;
        
    }

    h1 {
        font-size: 3.3rem;
        line-height: 80px;
        width: min-content;
    }

    header {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top 100px left -80px;
        margin-bottom: -150px;
    }


    /* menu responsive section  */

    .menu,
    .menu2 {
        flex-direction: column;
        align-items: center;
    }

    .image1 {
        order: -1;
        margin-top: -35px;
        margin-bottom: 10px;
    }

    .menu-container h2 {
        padding-top: 0;
        margin: 15px;
    }

    .text-container {
        /* padding-right: 0;
        padding-left: 0; */
        text-align: center;
        margin: 50px 0;
        padding: 0 15px 20px 15px;
    }

    /* dessert responsive section  */

    section.dessert-container {
        background-color: rgb(245, 245, 245);
    }

    .dessert-container .wrapper {
        flex-direction: column; 
        padding: 25px 0;
        text-align: center;
        background-color: rgb(245, 245, 245);
    }

    .text-container2 {
        margin: 50px 0;
        padding-left: 5px;
    }

    .text-container2 p {
        text-align: left;
        margin-bottom: 10px;
    }

   .text-container2 .read-more-button {
        padding: 6px 35px;
   }

/* icon responsive style section  */

    section.contact-icons {
        padding: 70px 0;
    }

    .contact-icons .wrapper {
        flex-direction: column;
    }

    .icon-container1,
    .icon-container2,
    .icon-container3 {
        margin: 17px 0;
        padding: 0;
    }

    .contact-icons span {
        font-size: 1.2rem;
    }

    /* Gram gallery responsive section  */

    .gram .wrapper {
        padding: 40px 0;
    }

    .image-5-hidden {
        display: none;
    }


    .gram ul {
        justify-content: center;
    }

    .gram li {
        width: calc(100% / 2);
        margin: 0 5px;
    }

/* footer responsive styles  */

footer {
    padding-top: 15px;
}

nav {
    margin-bottom: -30px;
}

nav li {
    margin: 0 12px;
}

nav a {
    font-size: 0.7rem;
    line-height: 29px;
}

.footer-container {
    flex-direction: column;
    align-items: center;    
}

.footer-container h2 {
    margin: 0 0 10px;
}

.contact-container {
    margin-bottom: 30px;
}

.contact-container p,
.stay-container p {
    text-align: center;
    margin-bottom: 5px;
}

.stay-container {
 margin-left: 30px;
 margin-top: 10px;
}

.stay-container input {
    margin-bottom: 20px;
}

form input {
    text-align: center;
}

form button {
    width: 100%;
}

}